/*Начало header*/
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px red;
}

.top {
    background-color: rgb(28, 109, 136);
    height: 100px;
    width: 100%;   
    display: flex; /*без него не выровнять по центру дочерний элемент*/
}

.topmenu {  /*это же и контейнер для двух внутренних контейрнеров с кнопками HOME и MENU*/
    border: 2px solid white;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 8px;
    margin-bottom: auto;
    display: flex;
}

.top div { /* this selector selects all divs inside of .flex-container */
    flex: 1; /*назначает в какой пропорции делить контенеры (в данном случае 1к1*/
    display: flex;
}

.toptext1 {
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    margin: auto;
    margin-left: 15px;
}

.toptext2 {
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    margin: auto;
    margin-right: 15px;
}

.toptext3 {
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    margin: auto;
    text-align: center;
}

/*Конец header*/


h1 {
    font-size: 100px;
    color: black;
    text-align: center;
    padding: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.intropic {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    margin-bottom: 5px; 
    margin-top: auto;
}

.maincontainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    display: block;
    background-color:  rgb(28, 109, 136);
    color: white;
    padding: 10px;
}

.maincontainerflex {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
    align-content: space-between;
}

.maincontainerflex1,
.maincontainerflex2 {
    display: block;
    flex: 1 1 0;
    padding: 5px;
    background-color: rgb(28, 109, 136);
    color: white;
    flex-grow: 1;
    margin: 5px;
   
    
}

p,
li {
    font-size: 20px;
}

.homebutton {
    width: 150px;
    height: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;

}
